.header{
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    }
.app-name{
    margin-left:20px;
    margin-right: 20px;
}
.options{
    margin-right: 20px;
    display: flex;
}
.listtogrid{
    padding:10px;
    border:1px solid white;
    margin-right: 10px;

}
button{
    margin: 0px 10px;
    background-color:limegreen;
}