
    <ng-container *ngIf = " (appdata.getRecipe() | async) as value">

        <div class = "col-md-12 recipe-detail">
            
            <div class="row">
                <div class = "col-md-5">
                    <img src = {{value.url}} class="recipe-image img-responsive">
                    
                </div>
                
                <div class="col-md-4" style="padding : 0px;margin : 0px;">
                    <h3>{{value.name}}</h3>
                    <h3>{{value.dept}}</h3>
                    <h3>{{value.rollno}}</h3>
                    <div>
                        <button class="btn btn-warning" (click)="deleteItem(value)">Delete</button>
                    </div>
                    <div>
                        <ul *ngFor = "let no of value.Ingredients">
                            <li>{{no}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </ng-container>
        <div *ngIf = "!(appdata.getRecipe() | async) as val ">
            <!-- <div>{{data | async | json }}</div> -->
            <p> The Recipe is removed</p>
            <div>{{edit | async | json }}</div>
        </div>
    <!-- </div> -->
        
        
    